.container{
  flex: 1 0 0;
  color: #ccc;
  position: relative;
  padding-top: 8px;
  & > img{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
  }
  & > span{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 22px;
    font-size: 10px;
  }
  &:global(.active){
    color: #508cee;
  }
}
